.error-wrapper {
    color: #d57070;
    font-size: .8rem;
    padding-left: 5px;
    line-height: 1.5rem;
}

.error {
    display: block;
}

.error:first-of-type {
    margin-top: -30px;
}

.error:last-of-type {
    margin-bottom: 10px;
}