@import 'src/scss/variables';
@import 'src/scss/mixins';


.form {
    display: flex;
    flex-direction: column;

    max-width: 400px;

    @include device(sm) {
        max-width: 100%;
    }

    @include device(lg) {
        max-width: 400px;
    }
}

.form__field {
    border-radius: 5px;
    background-color: transparent;
    height: 50px;
    color: darken($neutral-color, 15%);
    padding: 8px 16px;
    border: 2px solid $primary-color-dark;
}

.form__field:focus {
    border: 2px solid $secondary-color;
}

.form__field:first-child {
    margin-bottom: 30px;
}

.form__field:last-of-type {
    margin-bottom: 50px;
}

.form__btn-submit {
    background-color: $secondary-color;
    color: $neutral-color;
    height: 50px;
    border-radius: 5px;
    margin-bottom: 50px;
    text-transform: uppercase;
    transition: background-color .2s;
}

.form__btn-submit:hover {
    background-color: darken($secondary-color, 10);
}

.form__footer {
    display: flex;
    justify-content: space-between;
    color: lighten($primary-color-dark, 10);
}

.form__link {
    color: lighten($primary-color-dark, 10);
}