<form
    [formGroup]="reactiveForm"
    (ngSubmit)="onSubmit()"
    class="form"
>
    <app-input
        [parentFormGroup]="reactiveForm"
        fieldName="username"
        formControlName="username"
        placeholder="Username"
        [autofocus]="true"
    ></app-input>

    <app-input
        [parentFormGroup]="reactiveForm"
        fieldName="email"
        formControlName="email"
        placeholder="Email"
    ></app-input>

    <app-input
        [parentFormGroup]="reactiveForm"
        fieldName="password"
        formControlName="password"
        placeholder="Password"
        type="password"
    ></app-input>

    <app-input
        [parentFormGroup]="reactiveForm"
        fieldName="confirmPassword"
        formControlName="confirmPassword"
        placeholder="Confirm password"
        type="password"
    ></app-input>

    <app-button [disabled]="!!(reactiveForm.invalid || reactiveForm.disabled)">register</app-button>

    <footer class="form__footer">
        <a
            [routerLink]="['/']"
            class="form__link"
        >
            Back
        </a>
    </footer>
</form>
