@import 'src/scss/variables';

:host {
	display: flex;
	flex-direction: column;
}

button {
	background-color: $secondary-color;
	color: $neutral-color;
	min-height: 50px;
	border-radius: 5px;
	margin-bottom: 50px;
	margin-top: 20px;
	text-transform: uppercase;
	transition: background-color .2s;
	padding: 4px 16px;

	&:hover {
		background-color: darken($secondary-color, 10);
	}
}
