<div
    class="error-wrapper"
    *ngIf="formControl.invalid && formControl.dirty && formControl.touched"
>
    <span
        *ngIf="formControl.hasError('email')"
        class="error"
    >
        Email is invalid.
    </span>
    <span
        *ngIf="formControl.hasError('required')"
        class="error"
    >
        Field is required.
    </span>
    <span
        *ngIf="formControl.hasError('minlength')"
        class="error"
    >
        Minimum characters is {{formControl.errors?.['minlength'].requiredLength}}.
    </span>

    <span
        *ngIf="formControl.hasError('minOneLetterUpperCase')"
        class="error"
    >
        Require at least one uppercase character.
    </span>

    <span
        *ngIf="formControl.hasError('minOneLetterLowerCase')"
        class="error"
    >
        Require at least one lowercase character.
    </span>
    <span
        *ngIf="formControl.hasError('needsNumber')"
        class="error"
    >
        Require at least one number.
    </span>

</div>
